$cell-width: 40px;
$cell-height: 40px;

.muski-sequencer-matrix {
  th {
    font-size: 0.85rem;
    font-weight: normal;
  }

  td {
    width: $cell-width;
    height: $cell-height;
    border: 2px solid white;
    background-color: transparent;
  }

  .muski-sequencer-cell {
    display: block;
    width: $cell-width;
    height: $cell-height;
    background-color: #dcdcdc;
    border: none;

    &.active {
      outline: 3px solid #ffff4b;
      background-color: #efef9c !important;
    }

    &.on {
      background: none;
      background-color: #61dcbd !important;
    }

    &.active.on {
      background: none;
      outline: 3px solid #ffff4b;
      background-color: #61dc7e !important;
    }
  }

  .muski-sequencer-row-label {
    padding-right: 1em;
    text-align: right;
    min-width: 10em;
  }

  .muski-sequencer-col-label {
    text-align: center;
  }
}
